mxPluginExec/plugins/EDPluginGroupMOSFLM-v1.0/datamodel/XSDataMOSFLMv10.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://www.edna-site.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="XSDataCommon.xsd"/>
	<xs:element name="XSDataMOSFLMInputPostRefinement" type="XSDataMOSFLMInputPostRefinement"/>
	<xs:complexType name="XSDataMOSFLMInputPostRefinement">
		<xs:complexContent>
			<xs:extension base="XSDataMOSFLMInput">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMOutputIndexing" type="XSDataMOSFLMOutputIndexing"/>
	<xs:complexType name="XSDataMOSFLMOutputIndexing">
		<xs:complexContent>
			<xs:extension base="XSDataMOSFLMOutput">
				<xs:sequence>
					<xs:element name="beamShift" type="XSDataMOSFLMBeamPosition" minOccurs="1" maxOccurs="1"/>
					<xs:element name="deviationAngular" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="deviationPositional" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
					<xs:element name="mosaicityEstimation" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="possibleSolutions" type="XSDataMOSFLMIndexingSolution" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="selectedSolutionNumber" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="selectedSolutionSpaceGroup" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="selectedSolutionSpaceGroupNumber" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="spotsTotal" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="spotsUsed" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMBeamPosition" type="XSDataMOSFLMBeamPosition"/>
	<xs:complexType name="XSDataMOSFLMBeamPosition">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="x" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
					<xs:element name="y" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMOutputGeneratePrediction" type="XSDataMOSFLMOutputGeneratePrediction"/>
	<xs:complexType name="XSDataMOSFLMOutputGeneratePrediction">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="predictionImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMIntegrationStatistics" type="XSDataMOSFLMIntegrationStatistics"/>
	<xs:complexType name="XSDataMOSFLMIntegrationStatistics">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="averageIntensity" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="averageIOverSigma" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="averageSigma" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="numberOfReflections" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMDetector" type="XSDataMOSFLMDetector"/>
	<xs:complexType name="XSDataMOSFLMDetector">
		<xs:sequence>
			<xs:element name="numberPixelX" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numberPixelY" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pixelSizeX" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pixelSizeY" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
			<xs:element name="type" type="XSDataString" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMMissettingsAngles" type="XSDataMOSFLMMissettingsAngles"/>
	<xs:complexType name="XSDataMOSFLMMissettingsAngles">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="phix" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="phiy" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="phiz" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMOutputIntegration" type="XSDataMOSFLMOutputIntegration"/>
	<xs:complexType name="XSDataMOSFLMOutputIntegration">
		<xs:complexContent>
			<xs:extension base="XSDataMOSFLMOutput">
				<xs:sequence>
					<xs:element name="bestfileDat" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="bestfileHKL" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="bestfilePar" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="generatedMTZFile" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
					<xs:element name="highestResolutionIOverSigma" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="numberOfBadReflections" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="numberOfFullyRecordedReflections" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="numberOfNegativeReflections" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="numberOfOverlappedReflections" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="numberOfPartialReflections" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="numberOfReflectionsGenerated" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="overallIOverSigma" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="overallStatistics" type="XSDataMOSFLMIntegrationStatisticsPerResolutionBin" minOccurs="1" maxOccurs="1"/>
					<xs:element name="refinedMosaicity" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="refinedYScale" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="RMSSpotDeviation" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
					<xs:element name="statisticsPerResolutionBin" type="XSDataMOSFLMIntegrationStatisticsPerResolutionBin" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMOutput" type="XSDataMOSFLMOutput"/>
	<xs:complexType name="XSDataMOSFLMOutput">
		<xs:complexContent>
			<xs:extension base="XSDataResult">
				<xs:sequence>
					<xs:element name="refinedBeam" type="XSDataMOSFLMBeamPosition" minOccurs="1" maxOccurs="1"/>
					<xs:element name="refinedDistance" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
					<xs:element name="refinedNewmat" type="XSDataMOSFLMNewmat" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMOutputPostRefinement" type="XSDataMOSFLMOutputPostRefinement"/>
	<xs:complexType name="XSDataMOSFLMOutputPostRefinement">
		<xs:complexContent>
			<xs:extension base="XSDataMOSFLMOutput">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMNewmat" type="XSDataMOSFLMNewmat"/>
	<xs:complexType name="XSDataMOSFLMNewmat">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="aMatrix" type="XSDataMatrixDouble" minOccurs="1" maxOccurs="1"/>
					<xs:element name="missettingAngles" type="XSDataMOSFLMMissettingsAngles" minOccurs="1" maxOccurs="1"/>
					<xs:element name="refinedCell" type="XSDataCell" minOccurs="1" maxOccurs="1"/>
					<xs:element name="uMatrix" type="XSDataMatrixDouble" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMInputGeneratePrediction" type="XSDataMOSFLMInputGeneratePrediction"/>
	<xs:complexType name="XSDataMOSFLMInputGeneratePrediction">
		<xs:complexContent>
			<xs:extension base="XSDataMOSFLMInput">
				<xs:sequence>
					<xs:element name="image" type="XSDataMOSFLMImage" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMIntegrationStatisticsPerResolutionBin" type="XSDataMOSFLMIntegrationStatisticsPerResolutionBin"/>
	<xs:complexType name="XSDataMOSFLMIntegrationStatisticsPerResolutionBin">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="maxResolution" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="minResolution" type="XSDataFloat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="profileFitted" type="XSDataMOSFLMIntegrationStatisticsPerReflectionType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="summation" type="XSDataMOSFLMIntegrationStatisticsPerReflectionType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMInputIntegration" type="XSDataMOSFLMInputIntegration"/>
	<xs:complexType name="XSDataMOSFLMInputIntegration">
		<xs:complexContent>
			<xs:extension base="XSDataMOSFLMInput">
				<xs:sequence>
					<xs:element name="imageEnd" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="imageStart" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="oscillationWidth" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="rotationAxisStart" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMInput" type="XSDataMOSFLMInput"/>
	<xs:complexType name="XSDataMOSFLMInput">
		<xs:complexContent>
			<xs:extension base="XSDataInput">
				<xs:sequence>
					<xs:element name="beam" type="XSDataMOSFLMBeamPosition" minOccurs="1" maxOccurs="1"/>
					<xs:element name="detector" type="XSDataMOSFLMDetector" minOccurs="1" maxOccurs="1"/>
					<xs:element name="directory" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="distance" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
					<xs:element name="matrix" type="XSDataMOSFLMNewmat" minOccurs="1" maxOccurs="1"/>
					<xs:element name="mosaicity" type="XSDataDouble" minOccurs="1" maxOccurs="1"/>
					<xs:element name="symmetry" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="template" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="wavelength" type="XSDataWavelength" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMIndexingSolution" type="XSDataMOSFLMIndexingSolution"/>
	<xs:complexType name="XSDataMOSFLMIndexingSolution">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="cell" type="XSDataCell" minOccurs="1" maxOccurs="1"/>
					<xs:element name="index" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="lattice" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="penalty" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMImage" type="XSDataMOSFLMImage"/>
	<xs:complexType name="XSDataMOSFLMImage">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="number" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
					<xs:element name="rotationAxisEnd" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="rotationAxisStart" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMIntegrationStatisticsPerReflectionType" type="XSDataMOSFLMIntegrationStatisticsPerReflectionType"/>
	<xs:complexType name="XSDataMOSFLMIntegrationStatisticsPerReflectionType">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="fullyRecorded" type="XSDataMOSFLMIntegrationStatistics" minOccurs="1" maxOccurs="1"/>
					<xs:element name="partials" type="XSDataMOSFLMIntegrationStatistics" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataMOSFLMInputIndexing" type="XSDataMOSFLMInputIndexing"/>
	<xs:complexType name="XSDataMOSFLMInputIndexing">
		<xs:complexContent>
			<xs:extension base="XSDataMOSFLMInput">
				<xs:sequence>
					<xs:element name="image" type="XSDataMOSFLMImage" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataCell" type="XSDataCell"/>
	<xs:complexType name="XSDataCell">
		<xs:complexContent>
			<xs:extension base="XSData">
				<xs:sequence>
					<xs:element name="angle_alpha" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="angle_beta" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="angle_gamma" type="XSDataAngle" minOccurs="1" maxOccurs="1"/>
					<xs:element name="length_a" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
					<xs:element name="length_b" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
					<xs:element name="length_c" type="XSDataLength" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Class1" type="Class1"/>
	<xs:complexType name="Class1">
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
