bioSaxsv1/datamodel/XSDataBioSaxsv1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.edna-site.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="XSDataCommon.xsd"/>
	<xs:element name="XSDataBioSaxsSample" type="XSDataBioSaxsSample"/>
	<xs:complexType name="XSDataBioSaxsSample">
		<xs:sequence>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataInputBioSaxsReprocessv1_0" type="XSDataInputBioSaxsReprocessv1_0"/>
	<xs:complexType name="XSDataInputBioSaxsReprocessv1_0">
		<xs:sequence>
			<xs:element name="configuration" type="XSConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="specVersion" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specVariableStatus" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specVariableAbort" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="directory" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
			<xs:element name="frameFirst" type="XSDataInteger" minOccurs="0" maxOccurs="1"/>
			<xs:element name="frameLast" type="XSDataInteger" minOccurs="0" maxOccurs="1"/>
			<xs:element name="isOnline" type="XSDataBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="keepOriginal" type="XSDataBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalisation" type="XSDataString" minOccurs="1" maxOccurs="1"/>
			<xs:element name="operation" type="XSDataString" minOccurs="1" maxOccurs="1"/>
			<xs:element name="prefix" type="XSDataString" minOccurs="1" maxOccurs="1"/>
			<xs:element name="runNumber" type="XSDataInteger" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataResultBioSaxsReprocessv1_0" type="XSDataResultBioSaxsReprocessv1_0"/>
	<xs:complexType name="XSDataResultBioSaxsReprocessv1_0">
		<xs:complexContent>
			<xs:extension base="XSDataResult">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataBioSaxsExperimentSetup" type="XSDataBioSaxsExperimentSetup"/>
	<xs:complexType name="XSDataBioSaxsExperimentSetup">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="XSDataInputBioSaxsNormalizev1_0" type="XSDataInputBioSaxsNormalizev1_0"/>
	<xs:complexType name="XSDataInputBioSaxsNormalizev1_0">
		<xs:sequence>
			<xs:element name="configuration" type="XSConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rawImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
			<xs:element name="logFile" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
			<xs:element name="normalizedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
			<xs:element name="rawImageSize" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataResultBioSaxsProcessOneRunv1_0" type="XSDataResultBioSaxsProcessOneRunv1_0"/>
	<xs:complexType name="XSDataResultBioSaxsProcessOneRunv1_0">
		<xs:complexContent>
			<xs:extension base="XSDataResult">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataBioSaxsExperimentSetup" type="XSDataBioSaxsExperimentSetup"/>
	<xs:complexType name="XSDataBioSaxsExperimentSetup">
		<xs:sequence>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataInputBioSaxsAzimutIntv1_0" type="XSDataInputBioSaxsAzimutIntv1_0"/>
	<xs:complexType name="XSDataInputBioSaxsAzimutIntv1_0">
		<xs:sequence>
			<xs:element name="configuration" type="XSConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
			<xs:element name="normalizedImageSize" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
			<xs:element name="integratedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
			<xs:element name="integratedSpectrum" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
			<xs:element name="correctedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataSpecCommunication" type="XSDataSpecCommunication"/>
	<xs:complexType name="XSDataSpecCommunication">
		<xs:sequence>
			<xs:element name="specVersion" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specVariableStatus" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specVariableAbort" type="XSDataString" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataInputBioSaxsProcessOneRunv1_0" type="XSDataInputBioSaxsProcessOneRunv1_0"/>
	<xs:complexType name="XSDataInputBioSaxsProcessOneRunv1_0">
		<xs:sequence>
			<xs:element name="configuration" type="XSConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="specVersion" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specVariableStatus" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specVariableAbort" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="runNumber" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
			<xs:element name="frames" type="XSDataInteger" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="isOnline" type="XSDataBoolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="prefix" type="XSDataString" minOccurs="1" maxOccurs="1"/>
			<xs:element name="directoryRaw" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
			<xs:element name="directory1D" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
			<xs:element name="directory2D" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
			<xs:element name="directoryMisc" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataResultBioSaxsNormalizev1_0" type="XSDataResultBioSaxsNormalizev1_0"/>
	<xs:complexType name="XSDataResultBioSaxsNormalizev1_0">
		<xs:complexContent>
			<xs:extension base="XSDataResult">
				<xs:sequence>
					<xs:element name="normalizedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
					<xs:element name="logFile" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
					<xs:element name="processLog" type="XSDataString" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataResultBioSaxsAzimutIntv1_0" type="XSDataResultBioSaxsAzimutIntv1_0"/>
	<xs:complexType name="XSDataResultBioSaxsAzimutIntv1_0">
		<xs:complexContent>
			<xs:extension base="XSDataResult">
				<xs:sequence>
					<xs:element name="correctedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
					<xs:element name="integratedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
					<xs:element name="integratedSpectrum" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
					<xs:element name="processLog" type="XSDataString" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataInputBioSaxsAveragev1_0" type="XSDataInputBioSaxsAveragev1_0"/>
	<xs:complexType name="XSDataInputBioSaxsAveragev1_0">
		<xs:sequence>
			<xs:element name="configuration" type="XSConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="integratedImage" type="XSDataImage" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="integratedImageSize" type="XSDataInteger" minOccurs="1" maxOccurs="1"/>
			<xs:element name="averagedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
			<xs:element name="averagedSpectrum" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
			<xs:element name="logFile" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataResultBioSaxsAveragev1_0" type="XSDataResultBioSaxsAveragev1_0"/>
	<xs:complexType name="XSDataResultBioSaxsAveragev1_0">
		<xs:complexContent>
			<xs:extension base="XSDataResult">
				<xs:sequence>
					<xs:element name="averagedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
					<xs:element name="averagedSpectrum" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
					<xs:element name="processLog" type="XSDataString" minOccurs="1" maxOccurs="1"/>
					<xs:element name="logFile" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataInputBioSaxsMetadatav1_0" type="XSDataInputBioSaxsMetadatav1_0"/>
	<xs:complexType name="XSDataInputBioSaxsMetadatav1_0">
		<xs:sequence>
			<xs:element name="configuration" type="XSConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="inputImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
			<xs:element name="outputImage" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataResultBioSaxsMetadatav1_0" type="XSDataResultBioSaxsMetadatav1_0"/>
	<xs:complexType name="XSDataResultBioSaxsMetadatav1_0">
		<xs:sequence>
			<xs:element name="status" type="XSDataStatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="detector" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="detectorDistance" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_1" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pixelSize_2" type="XSDataLength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_1" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamCenter_2" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beamStopDiode" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="wavelength" type="XSDataWavelength" minOccurs="0" maxOccurs="1"/>
			<xs:element name="machineCurrent" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maskFile" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="normalizationFactor" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleConcentration" type="XSDataFloat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleComments" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleCode" type="XSDataString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="outputImage" type="XSDataImage" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XSDataInputBioSaxsAsciiExportv1_0" type="XSDataInputBioSaxsAsciiExportv1_0"/>
	<xs:complexType name="XSDataInputBioSaxsAsciiExportv1_0">
		<xs:complexContent>
			<xs:extension base="XSDataInput">
				<xs:sequence>
					<xs:element name="integratedImage" type="XSDataImage" minOccurs="1" maxOccurs="1"/>
					<xs:element name="integratedSpectrum" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="XSDataResultBioSaxsAsciiExportv1_0" type="XSDataResultBioSaxsAsciiExportv1_0"/>
	<xs:complexType name="XSDataResultBioSaxsAsciiExportv1_0">
		<xs:complexContent>
			<xs:extension base="XSDataResult">
				<xs:sequence>
					<xs:element name="integratedSpectrum" type="XSDataFile" minOccurs="1" maxOccurs="1"/>
					<xs:element name="processLog" type="XSDataString" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
